    .dvi {
        position: relative;
    }

    .loader {
        scale: 0.75;
        position: relative;
        translate: 10px;
    }

    .loader svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    .head {
        translate: 27px -30px;
        z-index: 3;
        animation: bob 1s infinite ease-in;
    }

    .bod {
        translate: 0px 30px;
        z-index: 3;
        animation: bob 1s infinite ease-in-out;
    }

    .legr {
        translate: 75px 135px;
        z-index: 0;
        animation: rstep 1s infinite ease-in;
    }

    .legr {
        animation-delay: 0.45s;
    }

    .legl {
        translate: 30px 155px;
        z-index: 3;
        animation: lstep 1s infinite ease-in;
    }

    @keyframes bob {
        0% {
            transform: translateY(0) rotate(3deg);
        }

        5% {
            transform: translateY(0) rotate(3deg);
        }

        25% {
            transform: translateY(5px) rotate(0deg);
        }

        50% {
            transform: translateY(0px) rotate(-3deg);
        }

        70% {
            transform: translateY(5px) rotate(0deg);
        }

        100% {
            transform: translateY(0) rotate(3deg);
        }
    }

    @keyframes lstep {
        0% {
            transform: translateY(0) rotate(-5deg);
        }

        33% {
            transform: translateY(-15px) translate(32px) rotate(35deg);
        }

        66% {
            transform: translateY(0) translate(25px) rotate(-25deg);
        }

        100% {
            transform: translateY(0) rotate(-5deg);
        }
    }

    @keyframes rstep {
        0% {
            transform: translateY(0) translate(0px) rotate(-5deg);
        }

        33% {
            transform: translateY(-10px) translate(30px) rotate(35deg);
        }

        66% {
            transform: translateY(0) translate(20px) rotate(-25deg);
        }

        100% {
            transform: translateY(0) translate(0px) rotate(-5deg);
        }
    }

    #gnd {
        translate: -140px 0;
        rotate: 10deg;
        z-index: -1;
        filter: blur(0.5px) drop-shadow(1px 3px 5px #000000);
        opacity: 0.25;
        animation: scroll 5s infinite linear;
    }

    @keyframes scroll {
        0% {
            transform: translateY(25px) translate(50px);
            opacity: 0;
        }

        33% {
            opacity: 0.25;
        }

        66% {
            opacity: 0.25;
        }

        to {
            transform: translateY(-50px) translate(-100px);
            opacity: 0;
        }
    }

    .load {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 9999999999999999999999999999;
        height: 100vh;
        background: rgba(255, 255, 255, 0.881);
    }

    .loader {
        width: 20px;
        overflow: visible;
        transform: rotate(-90deg);
        transform-origin: center;
        --active: #ff0000;
        height: auto;
        --track: #f2d4fe;
        --duration: 8s;
        animation: spin 2s linear infinite;
    }

    .gry {
        --active: #616161;
    }

    .white {
        --active: white;
    }

    @keyframes spin {
        0% {
            rotate: 0deg;
        }

        100% {
            rotate: 360deg;
        }
    }

    .active {
        stroke: var(--active);
        stroke-linecap: round;
        stroke-dashoffset: 360;
        animation: active-animation var(--duration) ease-in-out infinite;
    }

    @keyframes active-animation {
        0% {
            stroke-dasharray: 0 0 0 360 0 360;
        }

        12.5% {
            stroke-dasharray: 0 0 270 90 270 90;
        }

        25% {
            stroke-dasharray: 0 270 0 360 0 360;
        }

        37.5% {
            stroke-dasharray: 0 270 270 90 270 90;
        }

        50% {
            stroke-dasharray: 0 540 0 360 0 360;
        }

        50.001% {
            stroke-dasharray: 0 180 0 360 0 360;
        }

        62.5% {
            stroke-dasharray: 0 180 270 90 270 90;
        }

        75% {
            stroke-dasharray: 0 450 0 360 0 360;
        }

        87.5% {
            stroke-dasharray: 0 450 270 90 270 90;
        }

        87.501% {
            stroke-dasharray: 0 90 270 90 270 90;
        }

        100% {
            stroke-dasharray: 0 360 1 360 0 360;
        }
    }

    .track {
        stroke: var(--track);
        stroke-linecap: round;
        stroke-dashoffset: 360;
        animation: track-animation var(--duration) ease-in-out infinite;
    }

    @keyframes track-animation {
        0% {
            stroke-dasharray: 0 20 320 40 320 40;
        }

        12.5% {
            stroke-dasharray: 0 290 50 310 50 310;
        }

        25% {
            stroke-dasharray: 0 290 320 40 320 40;
        }

        37.5% {
            stroke-dasharray: 0 560 50 310 50 310;
        }

        37.501% {
            stroke-dasharray: 0 200 50 310 50 310;
        }

        50% {
            stroke-dasharray: 0 200 320 40 320 40;
        }

        62.5% {
            stroke-dasharray: 0 470 50 310 50 310;
        }

        62.501% {
            stroke-dasharray: 0 110 50 310 50 310;
        }

        75% {
            stroke-dasharray: 0 110 320 40 320 40;
        }

        87.5% {
            stroke-dasharray: 0 380 50 310 50 310;
        }

        100% {
            stroke-dasharray: 0 380 320 40 320 40;
        }
    }

    .load {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 9999999999999999999999999999;
        height: 100vh;
        background: rgba(0, 0, 0, 0.838);
    }

    .loaer {
        --path: #ffffff;
        --dot: #ee2828;
        --duration: 3s;
        width: 44px;
        height: 44px;
        position: relative;
    }

    .loaer:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        display: block;
        background: var(--dot);
        top: 37px;
        left: 19px;
        transform: translate(-18px, -18px);
        animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loaer svg {
        display: block;
        width: 100%;
        height: 100%;
    }

    .loaer svg rect,
    .loaer svg polygon,
    .loaer svg circle {
        fill: none;
        stroke: var(--path);
        stroke-width: 10px;
        stroke-linejoin: round;
        stroke-linecap: round;
    }

    .loaer svg polygon {
        stroke-dasharray: 145 76 145 76;
        stroke-dashoffset: 0;
        animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loaer svg rect {
        stroke-dasharray: 192 64 192 64;
        stroke-dashoffset: 0;
        animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loaer svg circle {
        stroke-dasharray: 150 50 150 50;
        stroke-dashoffset: 75;
        animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loaer.triangle {
        width: 48px;
    }

    .loaer.triangle:before {
        left: 21px;
        transform: translate(-10px, -18px);
        animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    @keyframes pathTriangle {
        33% {
            stroke-dashoffset: 74;
        }

        66% {
            stroke-dashoffset: 147;
        }

        100% {
            stroke-dashoffset: 221;
        }
    }

    @keyframes dotTriangle {
        33% {
            transform: translate(0, 0);
        }

        66% {
            transform: translate(10px, -18px);
        }

        100% {
            transform: translate(-10px, -18px);
        }
    }

    @keyframes pathRect {
        25% {
            stroke-dashoffset: 64;
        }

        50% {
            stroke-dashoffset: 128;
        }

        75% {
            stroke-dashoffset: 192;
        }

        100% {
            stroke-dashoffset: 256;
        }
    }

    @keyframes dotRect {
        25% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(18px, -18px);
        }

        75% {
            transform: translate(0, -36px);
        }

        100% {
            transform: translate(-18px, -18px);
        }
    }

    @keyframes pathCircle {
        25% {
            stroke-dashoffset: 125;
        }

        50% {
            stroke-dashoffset: 175;
        }

        75% {
            stroke-dashoffset: 225;
        }

        100% {
            stroke-dashoffset: 275;
        }
    }

    .loaer {
        display: inline-block;
        margin: 0 16px;
    }

    .bot {
        position: fixed;
        bottom: 0;
        z-index: 99999999999999999999999999;
    }